@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

:root {
    --light-gray: #acacac;
    --base: #121212;
    --trans-base: #121212c0;
    --pink: #aa367c;
    --purple: #2e2168;
    --blue: #144db2;
    --pink-purple-gradient: linear-gradient(90deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    font-family: "Electrolize", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

body,
html {
    background-color: var(--base);
    background: url("../assets/img/banner.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    color: #fff;
}

.comet {
    position: fixed;
    left: 50px;
    bottom: 50px;
    width: 100px;
    transform: rotate(90deg);
}

/* SCROLL */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #ac2174, #4a2fbd);
}

::-webkit-scrollbar-thumb {
    background: var(--trans-base);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
}

/* /SCROLL */

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    z-index: 99;
    background-color: var(--trans-base);
    backdrop-filter: blur(15px);
}

.nav ul li {
    display: inline;
    list-style: none;
}

.nav ul li a {
    color: #fff;
    padding: 5px;
    font-family: "Electrolize", sans-serif;
}

.nav ul li a:hover {
    background: linear-gradient(90deg, #ac2174e5, #4a2fbd);
}

.toggle-btn {
    display: none;
    cursor: pointer;
}

/* /NAV */

/* ALL SECTIONS */
.section {
    display: grid;
    align-content: center;
    justify-items: center;
    height: 100vh;
    min-height: 900px;
}

hr {
    width: 60vw;
    margin: auto;
    background: linear-gradient(90deg, #ac2174e5, #4a2fbd);
    height: 5px;
    border: none;
}

/* /ALL SECTIONS */

/* WELCOME SECTION */
.welcome-section {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 3fr 2fr;
    justify-items: end;
}

#welcome-section h1 {
    font-size: 4rem;
}

.presentation>h2 {
    margin: 30px 0;
    width: 251px;
    padding: 7px;
    overflow: hidden;
    border: 1px solid var(--light-gray);
    background: linear-gradient(90deg, #ac2174e5, #4a2fbd);
}

#welcome-section p {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 1.1rem;
    color: var(--light-gray);
    background-color: var(--base);
}

.planet {
    margin-left: 45px;
}
/* /WELCOME SECTION */

/* HABILITIES SECTION */
.habilities-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.habilities-section p {
    width: 50%;
    margin-top: 50px;
    background-color: var(--base);
}

.habilities-section div {
    margin: 50px;
}

.habilities-section-header {
    margin-bottom: 25px;
}

.habilities-container {
    display: grid;
    background: #7e2372;
    justify-content: center;
    width: 1200px;
    height: 500px;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 100px;
}

.habilities-list ul {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px 0;
}

.habilities-list ul li {
    list-style: none;
}

.habilities-container p {
    margin-top: 85px;
}

/* /HABILITIES SECTION */

/* PROJECTS SECTION */
.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#hover-mouse {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    color: var(--light-gray);
}

.projects-container button {
    background-color: #00000000;
    border: none;
    font-size: 5rem;
    color: var(--light-gray);
    margin: 10px;
}

.projects-slide {
    position: relative;
    width: 1200px;
    overflow: hidden;
}

.projects-slide img {
    width: 1200px;
    transition: 0.5s ease;
}

@media (hover: hover) {
    .projects-container button:hover {
        color: var(--blue);
        cursor: pointer;
    }

    .projects-slide:hover img {
        transform: scale(1.1);
        transition: 0.5s ease;
    }

    .projects-slide:hover .description {
        visibility: visible;
    }

    .projects-slide .description {
        visibility: hidden;
    }
}

@media (hover: none) {
    #hover-mouse {
        display: none;
    }
}

.projects-slide .description {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #ac2174e5, #4a2fbd80);
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}

.project-button {
    margin: 20px;
}

.project-button a {
    background-color: var(--base); 
    padding: 8px;
    margin: 0 5px;
    border-radius: 10px 0;
}

.project-button a:hover {
    background-color: var(--blue);
}

.project-technologies {
    text-align: center;
    padding: 10px;
}

/* /PROJECTS SECTION */

/* CONTACT SECTION */
.contact-container {
    width: 1200px;
    margin: auto;
    background: var(--purple);
    border-radius: 50px;
}

.contact-container form {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.contact-container form button {
    margin-top: 15px;
}

.contact-container a:hover {
    opacity: 60%;
}

.contact-container .socials {
    width: 50%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.contact-container .left-form,
.contact-container .right-form {
    width: 50%;
}

.contact-title {
    font-size: 4rem;
}

.right-form input,
textarea {
    width: 100%;
    resize: vertical;
    padding: 5px;
    margin-bottom: 10px;
}

.btn {
    background: var(--base);
    padding: 5px;
    border: 1px solid #fff;
    transition: 1s;
    font-size: 1.2rem;
    color: #fff;
}

.btn:hover {
    background: var(--pink);
    cursor: pointer;
    border: 1px solid var(--light-gray);
    transition: 1s;
}

/* /CONTACT SECTION */

/* FOOTER */
footer {
    background: linear-gradient(90deg, #ac2174e5, #4a2fbd);
    text-align: center;
    padding: 5px;
}

/* /FOOTER */

/* ANIMATIONS */

/* normal */
.hidden {
    opacity: 0;
    transition: all 2s;
}

.show-animation {
    opacity: 1;
    transition: 4s;
}

/* up and down y*/
.hidden-udy {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 2s;
}

.hidden-duy {
    opacity: 0;   
    transform: translateY(50%);
    transition: all 2s;
}

.show-animation-y {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: 3s;
}

/* left and right y*/
.hidden-lrx {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.hidden-rlx {
    opacity: 0;
    transform: translateX(100%);
    transition: all 3s;
}

.show-animation-x {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: 2s;
}


/* MEDIA QUERIES */

@media(max-width: 1600px) {
    .comet {
        display: none;
    }
}

@media(max-width: 1350px) {

    /* /WELCOME */
    .welcome-rocket {
        height: 300px;
    }

    /* /PROJECTS */
    .projects-slide {
        width: 900px;
    }

    .projects-slide img {
        width: 900px;
    }

    .projects-slide .description {
        width: 900px;
        height: 100%;
    }

    .habilities-section p {
        width: 70%;
    }

    /* /CONTACT */

    .contact-container {
        width: 900px;
    }

    /* /HABILITIES */

    .habilities-container {
        width: 900px;
    }

    .habilities-planet {
        width: 300px;
    }

    .habilities-section-header {
        text-align: center;
    }
}

@media(max-width: 1050px) {

    /* /PROJECTS */
    .projects-slide {
        width: 700px;
    }

    .projects-slide img {
        width: 700px;
    }

    .projects-slide .description {
        width: 700px;
        height: 100%;
    }

    /* /CONTACT */
    .contact {
        margin: 20px 10px;
        height: 600px;
        min-height: 550px;
        background: var(--purple);
        border-radius: 50px;
    }

    .contact-container {
        width: 100%;
        border: none;
        background: none;
    }

    .contact-container form {
        padding: 15px;
    }

    .socials {
        display: inline;
    }

    .right-form {
        margin-top: 15px;
    }

    .contact-container .left-form,
    .contact-container .right-form {
        width: 100%;
    }

    .contact-container form {
        flex-direction: column;
        align-items: center;
    }

    /* /HABILITIES */

    .habilities-container {
        width: 80%;
    }

    .habilities-section div {
        margin: 5px;
    }

    .habilities-list ul {
        grid-template-columns: auto;
    }

    .habilities-planet {
        position: relative;
        right: 50px;
    }
}

@media(max-width: 860px) {

    /* /WELCOME */
    .welcome-rocket {
        height: 300px;
    }

    /* /PROJECTS */
    .projects-section {
        display: inline;
        position: relative;
        text-align: center;
        padding: 100px 0;
        width: 100%;
    }

    .projects-slide img {
        width: 100%;
    }

    .projects-slide .description {
        width: 100%;
        align-items: center;
    }

    .projects-section-header {
        margin-top: 50px;
    }

    #technologies {
        margin-bottom: 50px;
    }

    .projects-container button {
        position: absolute;
        z-index: 10;
    }

    #prev {
        left: 7%;
        z-index: 10;
    }

    #next {
        right: 7%;
        z-index: 10;
    }
}

@media(max-width: 775px) {

    /* /HABILITIES */
    .habilities-container {
        display: flex;
        flex-wrap: wrap;
    }

    .habilities-list ul {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .habilities-planet {
        display: none;
        grid-template-columns: 0fr;
    }
}

@media(max-width: 650px) {

    /* /WELCOME */
    .welcome-section {
        padding: 480px 0;
    }

    .rocket {
        margin: 50px auto;
    }

    .welcome-rocket {
        height: 300px;
    }

    .welcome-section {
        display: grid;
        width: 80%;
        margin: auto;
        grid-template-columns: 1fr;
        justify-items: end;
    }
}

@media(max-width: 480px) {

    /* /HABILITIES */
    .habilities-list ul {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

/* NAV MENU */
@media screen and (max-width: 650px) {

    header,
    .nav {
        width: 100%;
        height: 60px;
    }

    .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: 90px;
        width: 300px;
        border-radius: 10px;
        overflow: hidden;
        z-index: 99;
        border: 1px solid var(--light-gray);
        background: var(--base);
    }

    .open {
        display: block;
    }

    .dropdown-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 15px;
    }

    .dropdown-menu ul li {
        margin: 5px;
    }

}