:root {
    --white: #fff;
    --brand-base: #35383f;
    --brand-dark: #3a3b36;
    --brand-light: #f6f6f6;
    --brand-primary: #430d9b;
    --brand-secondary: #2817bb;
    --brand-blue-dark: #25272c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body, html {
    background-color: var(--brand-base);
    font-family: 'Poppins', sans-serif;
}

/* SCROLL */

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: var(--brand-dark);
  }
  
::-webkit-scrollbar-thumb {
    background: var(--brand-primary);
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--brand-secondary);
}

/* /SCROLL */

/* NAV */
.nav {
    background-color: var(--brand-blue-dark);
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    height: 80px;
    position: fixed;
    display: grid;
    justify-content: end;
    align-content: center;
    z-index: 1;
}

.nav span {
    color: var(--brand-dark);
    font-size: 1.7rem;
    position: absolute;
    margin: 25px;
}

.nav-list {
    display: flex;
    margin-right: 25px;
}

.nav-list li {
    list-style-type: none;
}

.nav-list li a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.7rem;
    padding: 20px;
}

.nav-list li a:hover {
    background-color: var(--brand-dark);
}
/* /NAV */

/* WELCOME SECTION */
.welcome-section {
    height: 100vh;
}

#welcome-section h1, p {
    text-align: center;
    position: relative;
    top: 40%;
    z-index: 0;
    color: var(--white);
}

#welcome-section h1 {
    font-size: 3rem;
}

#welcome-section p {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 1.4rem;
}
/* /WELCOME SECTION */

/* PROJECTS SECTION */
.projects-section {
    background-color: var(--brand-dark);
    height: 80vh;
}

.projects-section h2 {
    padding: 35px;
    text-align: center;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;
}

.projects-container button {
    margin: 20px;
    background-color: #00000000;
    border: none;
    font-size: 5rem;
    color: var(--white);
}

.projects-container button:hover {
    color: var(--brand-secondary);
    cursor: pointer;
}

.projects-slide {
    background-color: var(--brand-blue-dark);
    position: relative;
    width: 1000px;
    height: 563px;
    overflow: hidden;
}

.projects-slide:hover .description {
    visibility: visible;
}

.projects-slide:hover img {
    transform: scale(1.1);
    transition: 0.5s ease;
}

.projects-slide img {
    width: 1000px;
    height: 563px;
}

.projects-slide .description {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2817bb;
    opacity: 0.8;
    width: 1000px;
    height: 563px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    visibility: hidden;
}

.project-technologies {
    text-align: center;
    padding: 10px;
}
/* /PROJECTS SECTION */

/* CONTACT SECTION */
.contact {
    background-color: var(--brand-base);
    margin: 50px;
}

.contact-container {
    width: 1000px;
    margin: auto;
}

.contact-container .btn:hover {
    color: var(--white);
}

.contact-container form {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: var(--brand-blue-dark);
}

.contact-container form button {
    margin-top: 15px;
  }

  .contact-container a:hover {
    opacity: 60%;
  }

  .contact-container .socials {
    width: 50%;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .contact-container .left-form,
.contact-container .right-form {
  width: 50%;
}

.contact-title {
    font-size: 4rem;
    color: var(--white);
}
  
.right-form input, textarea {
    width: 100%;
    resize: vertical;
    padding: 5px;
}

.right-form label {
    color: var(--white);
}

.btn {
    background-color: var(--brand-primary);
    border: none;
    padding: 5px;
}

/* /CONTACT SECTION */

/* FOOTER */
footer {
    background-color: var(--brand-blue-dark);
}
/* /FOOTER */